.filter-pane .input-label {
	font-weight: 300;
	font-size: 14px;
}

.btn-filter {
	margin-left: 0; 
}

.chart {
	width: 100%; 
	min-height: 500px;
	padding-bottom: 25px;
}
.comment-date-box {
	position: relative;
}

.comment-date {
	position: absolute;
	margin-left: 0;
	top: 3px;
	right: 15px;
}


/*Datatable - temple - actions*/
@media (max-width: 1024px){
	.btn-tree-chart, .btn-tree-chart :active, .btn-tree-chart:visited {
		
		background-color: #685E6D;
		border: 1px solid #FFF;
		color: #fff;
		font-weight: 700;
		width: 141px;
		height: 55px;
		border-radius: 5px;
		white-space: pre-wrap;
		text-align: center;
		font-size: 12px;
		padding: 3px 5px;
	}

	.btn-tree-disable {
		background-color: #ccc;
		border: 1px solid #999;
		color: #fff;
		font-weight: 700;
		width: 141px;
		height: 55px;
		border-radius: 5px;
		white-space: pre-wrap;
		text-align: center;
		font-size: 12px;
		padding: 3px 5px;
	}

	.btn-tree-select {
		border: 2px solid #00bfa9;
		background-color: #D6E1C7;
		color: #685E6D;
		font-weight: 700;
		width: 141px;
		height: 55px;
		border-radius: 5px;
		white-space: pre-wrap;
		text-align: center;
		font-size: 12px;
		padding: 3px 5px;
	}
	.btn-group {
		margin-left: 10px;
	}
	.btn-group1 {
		margin-left: 20px;
	}
	.profile-icon {
		margin-left: 0;
	}
}

@media (max-width: 768px){
    .colorInput{
        width:81px;
    }
    .col-row .input-label {
        font-size: 15px;
    }
	.btn-filter {
		width: 175px;
	}
	.btn-tree-chart, .btn-tree-chart :active, .btn-tree-chart:visited {
		
		background-color: #685E6D;
		border: 1px solid #FFF;
		color: #fff;
		font-weight: 700;
		width: 102px;
		height: 63px;
		border-radius: 5px;
		white-space: pre-wrap;
		text-align: center;
		font-size: 12px;
		padding: 3px 5px;
	}

	.btn-tree-disable {
		background-color: #ccc;
		border: 1px solid #999;
		color: #fff;
		font-weight: 700;
		width: 102px;
		height: 63px;
		border-radius: 5px;
		white-space: pre-wrap;
		text-align: center;
		font-size: 12px;
		padding: 3px 5px;
	}

	.btn-tree-select {
		border: 2px solid #00bfa9;
		background-color: #D6E1C7;
		color: #685E6D;
		font-weight: 700;
		width: 102px;
		height: 63px;
		border-radius: 5px;
		white-space: pre-wrap;
		text-align: center;
		font-size: 12px;
		padding: 3px 5px;
	}
	.profile-icon {
		margin-left: 0;
	}
	.jumbo-container .btn-update {
		margin-bottom: 10px;
	}
	.comment-date {
		position: absolute;
		margin-left: 0;
		top: -43px;
		right: 15px;
	}
}




