* {
	box-sizing: border-box;
}
body {
	padding-top: 50px;
	transition: all 600s;
}

/* ------------------Header Styles Start------------------*/
.header{
	font-family: 'Titillium Web', sans-serif;
	font-size:20px;
}
.header .navbar-brand{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size:30px;
}
.header .navbar-default .navbar-nav .open .dropdown-menu>li>a{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size:15px;
}
.header .navbar-default{
	background-color: #fff;
}
.header .navbar-brand,.header .navbar-brand:hover,.navbar-default .navbar-nav>li>a{
	color: #00bfa9;
}
.header .dropdown-menu>li>a{
	color: #00bfa9;
}
.header .navbar-default .navbar-toggle{
	border-color: #00bfa9;
}
.header .navbar-default .navbar-toggle .icon-bar{
	background-color: #00bfa9;
}

.header .navbar-default .navbar-toggle .icon-bar :focus,.header .navbar-default .navbar-toggle .icon-bar :hover{
	background-color:#00bfa9;
}
.header .navbar-default .navbar-nav>li>a:focus,.header .navbar-default .navbar-nav>li>a:hover{
	background-color: #00bfa9;
	color: #ffffff;
}
.header .navbar-default .navbar-nav .open .dropdown-menu>li>a{
	color: #00bfa9;
}
.header .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
	background-color: #00bfa9;
	color: #ffffff;
}
@media (max-width: 400px) {
	.header .navbar-brand{
		font-size: 23px;
	}
}
@media (max-width: 320px) {
	.header .navbar-brand{
		font-size: 20px;
	}
}

/* ------------ Triangle CSS ---------------- */
.pyramid-container {
	text-align: center;
  }
  
  .inside-text {
	margin-top: 1px;
	padding-top: 15px;
	
  }
  
  .inside-text-first {
	text-align: left;
	padding-top: 30px;
	font-size: 60%;
	position: absolute;
	left: 49%
  }
  
  #pyramid-level-7 {
	  border-bottom: 50px solid #F01A21;
	  border-left: 25px solid transparent;
	  border-right: 25px solid transparent;
	  height: 0;
	  width: 0px;
	  margin-right:auto;
	  margin-left:auto;
  }
  
  #pyramid-level-6 {
	  border-bottom: 50px solid #C85C1D;
	  border-left: 25px solid transparent;
	  border-right: 25px solid transparent;
	  height: 0;
	  width: 50px;
	  margin-right:auto;
	  margin-left:auto;
  }
  
  #pyramid-level-5 {
	  border-bottom: 50px solid #FF8C3D;
	  border-left: 25px solid transparent;
	  border-right: 25px solid transparent;
	  height: 0;
	  width: 100px;
	  margin-right:auto;
	  margin-left:auto;
  }
  
  #pyramid-level-4 {
	  border-bottom: 50px solid 	#FCC913;
	  border-left: 25px solid transparent;
	  border-right: 25px solid transparent;
	  height: 0;
	  width: 150px;
	  margin-right:auto;
	  margin-left:auto;
  }
  
  #pyramid-level-3 {
	  border-bottom: 50px solid #FEF200;
	  border-left: 25px solid transparent;
	  border-right: 25px solid transparent;
	  height: 0;
	  width: 200px;
	  margin-right:auto;
	  margin-left:auto;
  }
  
  #pyramid-level-2 {
	  border-bottom: 50px solid #1FB34C;
	  border-left: 25px solid transparent;
	  border-right: 25px solid transparent;
	  height: 0;
	  width: 250px;
	  margin-right:auto;
	  margin-left:auto;
  }
  
  #pyramid-level-1 {
	position: relative;
	  border-bottom: 50px solid #29D75C;
	  border-left: 25px solid transparent;
	  border-right: 25px solid transparent;
	  height: 0;
	  width: 300px;
	  margin-right:auto;
	  margin-left:auto;
  }
  #pyramid-level-1:hover, #pyramid-level-2:hover, #pyramid-level-3:hover,
  #pyramid-level-4:hover, #pyramid-level-5:hover, #pyramid-level-6:hover,
  #pyramid-level-7:hover {
	  opacity: 0.7;
  }

/* ------------------Header Styles End------------------*/


.jumbo-one{
	background: url("../images/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	color: #fff;
	min-height: calc(100vh - 107px);

}

.jumbo-p{
	margin-top: 120px;
	color: #fff;
	font-family: inherit;
	font-size: 35px;
	font-weight:300;
	font-style: bold;
}

.jumbo-head{
	margin-top: -15px;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 40px;
	font-weight:700;
}

.login-box {
	/* background-color: rgba(255,255,255,0.8); */
	background-color: rgba(255,255,255,0.4);
	margin: 50px 60px 25px;
	width: 500px;
	height: 310px;
	float: right;
	padding: 35px;
	border-radius: 10px;
}

.login-operator {
	background-color: rgba(255,255,255,0.8);
	margin: 0 60px 0;
	height: 80px;
	width: 500px;
	float: right;
	padding: 18px 35px;
	border-radius: 10px;
}

.form-control{
	
	color: #00bfa9;
	border-radius: 5px;
}

.btn-update{
	width: 100%;
	font-family: 'Titillium Web', sans-serif;
	font-size: 17px;
	color: #fff;
	background-color: #00bfa9;
	border: 5px solid #00bfa9;
	border-radius: 0;
	text-align: center;
}

.btn-update:hover {
	color: #00bfa9;
	background-color: #fff;
	border: 5px solid #00bfa9;

}

.login-operator .btn-update {

}


.form-label {

	color: #00bfa9;
}



/* ------------------footer Start------------------*/

.footer{
	text-align: center;
	padding-top: 20px;
	border-top: solid 2px rgba(0,0,0,0.05);
	height: 35px;
	background-color: #fff;
}
.footer a{
	color: #00bfa9;
	text-decoration: none;
}
.footer a:hover{
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}
.footer .scrollup{
	float: right;
}
.footer .new{
	margin-left: 35px;
}
.footer li a{
	text-decoration: none;
}
.footer ul{
	margin-top: 5px;
	margin-right: 35px;
}
.footer li{
	font-size: 17px;
	list-style: none;
	display: inline;
}
.footer p{
	font-family: inherit;
	font-size: 14px;
}
/* ------------------footer End-------------------*/
